.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 60px;
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  margin: 22px 411px 0 340px;
}

.u-section-2 .u-text-2 {
  margin: 52px 800px 60px 22px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 311px;
    margin-left: 240px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 622px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 201px;
    margin-left: 130px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 402px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 111px;
    margin-left: 40px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 222px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 22px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-text-1 {
  text-align: start;
  margin: 48px 376px 0 342px;
}

.u-section-3 .u-text-2 {
  margin: -8px 929px 60px 22px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 276px;
    margin-left: 242px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 751px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 166px;
    margin-left: 132px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 531px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 76px;
    margin-left: 42px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 351px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 151px;
  }
}